*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body
{
    height: 100%;
    width: 100%;
}

.main
{
    height: 100%;
    width: 100%;
    display: flex;
    padding:0px 90px;
    padding-top: 150px;
}

/* ------- */

.left
{
    height: 100%;
    width: 48%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding-bottom:50px;
    
}
.left-bottom h3
{
    padding:10px 0;
}
.left h1
{
    font-size: 11vh;
    font-weight: 700;
    line-height: 11vh;
}

/* --------- */

.button
{
    width: fit-content;
    padding:8px 15px;
    border:solid black 1px;
    border-radius:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:10px;
}
.button h4
{
    font-size:2.2vh;
    font-weight:500;
    margin-right:10px;
}
#color-1
{
    background-color:burlywood;
    height:2vh;
    width: 2vh;
    border-radius:50%;
    margin:0 5px;
}
#color-2
{
    background-color:brown;
    height:2vh;
    width:2vh;
    border-radius:50%;
    padding-left:5px;
}

/* --------- */

.right
{
    height: 100%;
    width: 30%;
    position:relative;
}
.right-top
{
    display:flex;
    justify-content:space-between;
    height:fit-content;
}
.right-top i
{
    color:gold;
}
.right-image
{
    height:95%;
    width: 100%;
    background-image:url(https://plus.unsplash.com/premium_photo-1699534957140-7f421527adb7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8d29tYW4lMjBwb3RyYWl0JTIwaW4lMjBkZXNlcnR8ZW58MHx8MHx8fDA%3D);
    background-size:cover;
    background-position: 50% 20%;
}

.black-circle
{
    height: 120px;
    width: 120px;
    background: rgb(34, 33, 43);
    color:white;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    right:-20%;
    top:30%;
}
.rotated
{
    position:absolute;
    left:-10%;
    bottom:0;
    transform-origin:0 0;
    rotate:-90deg;
}
.rotated h2
{
    font-size:4vh;
}

/* ---------- */

@media (max-width:700px)
{
    .main
    {
        flex-direction:column;
        padding-top:40px;
    }
    .left
    {
        height: 100%;
        width: 100%;
        padding:0;
    }
    .button
    {
        margin-top:10px;
    }
    .right
    {
        height: 100%;
        width: 100%;
    }
    .right-top
    {
        padding: 30px 0;
    }
    .right-image
    {
        height:100%;
    }
    .black-circle
    {
        height: 90px;
        width: 90px;
        right:-15%;
        top:50%;
    }
    .rotated
    {
        bottom: -40px;;
    }
}